.errorpopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  background-color: #c3c3c3;
  box-shadow: inset -1.5px -1.5px 0 0 #263238, inset 1.5px 1.5px 0 0 #fcfcfc,
    inset -3px -3px 0 0 #a099a1, inset 3px 3px 0 0 #cac6cb;
  padding: 0.3rem;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(#00045f, #010079, blue);
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    &__title {
      font-size: 1.5rem;
      font-weight: 600;
    }
    &__close {
      cursor: pointer;
      font-size: 1rem;
      color: #000;
      font-weight: 600;
      padding: 0.2rem 0.5rem;
      background-color: #c3c3c3;
    }
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    // width: 100%;
    &__image {
      width: 3rem;
      height: 3rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__message {
      font-size: 1.5rem;
      font-weight: 600;
      padding: 1rem;
    }
  }
}
